<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/static/images/icono.ico">
    <link rel="stylesheet" href="/static/css/place.css">
    <link rel="stylesheet" href="/static/css/icons/style.css">
    <title>Restaurant</title>
</head>
<body>
    <div class="header">
        <div class="name"></div>
        <div class="options"></div>
    </div>
    <main>
        <section class="contenedor">
            <div class="first">
                <div class="image">
                    <div class="restaurant">
                        <h1>Rincón Torrepa</h1>
                    </div>
                </div>
                <div class="descp">
                    <p class="info">Información</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam 
                        necessitatibus inventore doloribus tempora aperiam est beatae amet
                        enim asperiores sint?</p>
                    <p class="subtitle">Rating</p>
                    <div class="rating">
                        <i class="icon icon-star-full"></i>
                        <i class="icon icon-star-full"></i>
                        <i class="icon icon-star-full"></i>
                        <i class="icon icon-star-empty"></i>
                        <i class="icon icon-star-empty"></i>
                    </div>
                    <p class="line"><i class="icon icon-phone"></i> Teléfono <a href="tel:+51#">+51 945612354</a></p>
                    <p class="line"><i class="icon icon-mail2"></i> Email <a href="mailto:#">rincon@correo.com</a></p>
                    <p class="line"><i class="icon icon-earth"></i> Web <a href="www.sitio.com">www.sitio.com</a></p>
                    <p class="line"><i class="icon icon-users"></i> Capacidad 30 personas</p>
                    <span class="linea"></span>                    
                </div>
            </div>
            <div class="second">
                <div class="descp">
                    <p class="info">Menú</p>
                    <p class="subtitle">Entradas</p>
                    <ul>
                        <li>Sopa de pollo</li>
                        <li>Crema de pimiento</li>
                        <li>Papa a la Huancaina</li>
                        <li>Tequeños</li>
                    </ul>
                    <p class="subtitle">Segundos</p>
                    <ul>
                        <li>Seco norteño</li>
                        <li>Lomo saltado</li>
                        <li>Asado de res</li>
                        <li>Olluquito con carne</li>
                        <li>Arroz con mariscos</li> 
                        <li>Escabeche de pescado</li>
                    </ul>
                    <span class="linea"></span>
                </div>
                <br>
            </div>
        </section>
    </main>
    <section class="baner">
            <p>Disfruta más con </p><span> Netchmap</span>
        </section>
</body>
</html>