<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>¿Cómo funciona? - Netchmap</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
    crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
    <link rel="stylesheet" href="css/style_ComoFunciona.css">
    <link rel="stylesheet" href="icon/icon.css">
    <link rel="stylesheet" href="fonts.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
  <body>
    <header>
      <div class="nav">

        <div class="wrap">
          <nav>
            <ul>
              <li>
                <a href="/">Inicio</a>
              </li>
              <li>
                <a href="#">¿Cómo funciona?</a>
              </li>
              <li>
                <a href="#">Atención al cliente</a>
              </li>
              <li>
                <a href="#">Restaurantes</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="theClient" id="barra_login">
        <div class="user line-input">
          <label class="lnr lnr-user"></label>
          <input type="text" placeholder="Nombre J" name="email" id="email">
        </div>

        <div class="password line-input">
          <label class="lnr lnr-lock"></label>
          <input type="password" placeholder="Contraseña" name="password" id="password">
        </div>
        <!--<input type="button" value="Ingresar" onclick="getData()">-->
        <a onclick="getData()" class="button">Ingresar</a>
      </div>

    </header>
    <div class="container">
      <div class="timeline">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url(/static/images/n1.jpg)" data-year="2014">
              <div class="swiper-slide-content"><span class="timeline-year">2014</span>
                <h4 class="timeline-title">TIMELINE  </h4>
                <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
            <div class="swiper-slide" style="background-image: url(/static/images/n5.jpg)" data-year="2015">
              <div class="swiper-slide-content"><span class="timeline-year">2015</span>
                <h3 class="timeline-title">CREATIVE </h3>
                <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
            <div class="swiper-slide" style="background-image: url(/static/images/n2.jpg)" data-year="2016">
              <div class="swiper-slide-content"><span class="timeline-year">2016</span>
                <h4 class="timeline-title">REALISTIC</h4>
                <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
            <div class="swiper-slide" style="background-image: url(/static/images/n4.jpg)" data-year="2017">
              <div class="swiper-slide-content"><span class="timeline-year">2017</span>
                <h4 class="timeline-title">WEB DESIGN</h4>
                <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
            <div class="swiper-slide" style="background-image: url(/static/images/K.jpg)" data-year="2018">
              <div class="swiper-slide-content"><span class="timeline-year">2018</span>
                <h4 class="timeline-title">CSS 3 EFFECT</h4>
                <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
            <div class="swiper-slide" style="background-image: url(/static/images/n6.jpg)" data-year="2019">
              <div class="swiper-slide-content"><span class="timeline-year">2019</span>
                <h4 class="timeline-title">SUPER TITLE</h4>
                <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
    <script src="js/script_ComoFunciona.js"></script>
  </body>
</html>
