<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>¿Cómo funciona? - Netchmap</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
    crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
    <link rel="stylesheet" href="css/style_ComoFunciona.css">
    <link rel="stylesheet" href="icon/icon.css">
    <link rel="stylesheet" href="fonts.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
  <body>
    <header>
      <div class="nav">

        <div class="wrap">
          <nav>
            <ul>
              <li>
                <a href="/">Inicio</a>
              </li>
              <li>
                <a href="#">¿Cómo funciona?</a>
              </li>
              <li>
                <a href="#">Atención al cliente</a>
              </li>
              <li>
                <a href="#">Restaurantes</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="theClient" id="barra_login">
        <div class="user line-input">
          <label class="lnr lnr-user"></label>
          <input type="text" placeholder="Nombre J" name="email" id="email">
        </div>

        <div class="password line-input">
          <label class="lnr lnr-lock"></label>
          <input type="password" placeholder="Contraseña" name="password" id="password">
        </div>
        <!--<input type="button" value="Ingresar" onclick="getData()">-->
        <a onclick="getData()" class="button">Ingresar</a>
      </div>

    </header>
    <div class="container">
      <div class="timeline">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url(/static/images/n1.jpg)" data-year="1">
              <div class="swiper-slide-content"><span class="timeline-year">1</span>
                <h4 class="timeline-title">BUSCAR RESTAURANT  </h4>
                <p class="timeline-text">Busque y encuentre un resturant: ingrese al mapa de la sección '<b>Restaurantes</b>' para ver todos los lugares cercanos que se ajusten a su bolsillo</p>
              </div>
            </div>
            <div class="swiper-slide" style="background-image: url(/static/images/n5.jpg)" data-year="2">
              <div class="swiper-slide-content"><span class="timeline-year">2</span>
                <h3 class="timeline-title">VER MENÚ </h3>
                <p class="timeline-text">Un vez ingresado al mapa, seleccione un marcador de restaurant y dale clic al enlace '<b>ver menú</b>' para ver los platillos y toda la información del local</p>
              </div>
            </div>
            <div class="swiper-slide" style="background-image: url(/static/images/n2.jpg)" data-year="3">
              <div class="swiper-slide-content"><span class="timeline-year">3</span>
                <h4 class="timeline-title">¡Disfruta de la vida sin problemas!</h4>
                <p class="timeline-text">Disfrute de la ciudad sin problemas sabiendo que podrá encontrar un restaurant cerca de usted con la calidad y el precio que usted solicite</p>
              </div>
            </div>
            <div class="swiper-slide" style="background-image: url(/static/images/n4.jpg)" data-year="4">
              <div class="swiper-slide-content"><span class="timeline-year">4</span>
                <h4 class="timeline-title">No dudes en contactarnos</h4>
                <p class="timeline-text">Si tienes algun reclamo, petición o sugerencias no dudes en contactarnos dirigiendote a la sección de '<b>atención al cliente</b>', te atenderemos con mucho gusto</p>
              </div>
            </div>
            <div class="swiper-slide" style="background-image: url(/static/images/K.jpg)" data-year="5">
              <div class="swiper-slide-content"><span class="timeline-year">5</span>
                <h4 class="timeline-title">Y NUNCA LO OLVIDES</h4>
                <p class="timeline-text"><b style="font-size: 2em">Con Netchmap, disfrutas más</b></p>
              </div>
            </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
    <script src="js/script_ComoFunciona.js"></script>
  </body>
</html>
