<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Bienvenido a Netchmap</title>
    <link rel="icon" href="/static/images/icono.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/icon/icon.css">
    <link rel="stylesheet" href="/static/fonts/fonts.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery-3.1.0.min.js"%3E%3C/script%3E'))</script>
    <script src="/static/js/login.js"></script>
</head>
<body>
<header>
    <div class="nav">

        <div class="wrap">

            <nav id="inicial">
                <ul>
                    <li>
                        <a href="/">Inicio</a>
                    </li>
                    <li>
                        <a href="/static/ComoFunciona.html">¿Cómo funciona?</a>
                    </li>
                </ul>
            </nav>

            <nav id="administrador" style="display: none">
                <ul>
                    <li>
                        <a href="/">Inicio</a>
                    </li>
                    <li>
                        <a href="/clients">User Admin</a>
                    </li>
                </ul>
            </nav>

            <nav id="restaurantes" style="display: none">
                <ul>
                    <li>
                        <a href="/">Inicio</a>
                    </li>
                    <li>
                        <a href="/static/ComoFunciona.html">¿Cómo funciona?</a>
                    </li>
                    <li>
                        <a href="/static/atencion_cliente.html">Atención Cliente</a>
                    </li>
                    <li>
                        <a href="/static/register_menu.html">Registrar menú</a>
                    </li>
                </ul>
            </nav>

            <nav id="usuario" style="display: none">
                <ul>
                    <li>
                        <a href="/">Inicio</a>
                    </li>
                    <li>
                        <a href="/static/ComoFunciona.html">¿Cómo funciona?</a>
                    </li>
                    <li>
                        <a href="/static/atencion_cliente.html">Atención Cliente</a>
                    </li>
                    <li>
                        <a href="/static/mapa.html">Restaurantes</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>

    <div class="theClient" id="barra_login">
        <div class="user line-input">
            <label class="lnr lnr-user"></label>
            <input type="text" placeholder="Usuario" name="username" id="username">
        </div>

        <div class="password line-input">
            <label class="lnr lnr-lock"></label>
            <input type="password" placeholder="Contraseña" name="password" id="password">
        </div>
        <!--<button type="button" value="Login" class="button" onclick="getDatos()">Ingresar</button>-->
        <a class="button" onclick="getDatos()">Ingresar</a>
        <a></a>
    </div>

</header>
<div class="header content">
    <div class="header-video">
        <video src="/static/video/maps_video.mp4" autoplay muted loop width="100%"></video>
    </div>
    <div class="header-overlay"></div>

    <div class="header-content">
        <h1>Netchmap</h1>
        <form>
            <fieldset>
                <input type="search" placeholder="¿Qué estás buscando?">
                <button type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </fieldset>
        </form>
        <div id="soy_nuevo">
            <a href="/static/client_register.html" class="btn">Soy nuevo cliente</a>
            <a href="/static/business_register.html" class="btn">Soy nuevo proveedor</a>
        </div>
    </div>
</div>
<div class="social">
    <ul>
        <li><a href="http://www" target="_blank" class="icon-facebook"></a></li>
        <li><a href="http://www" target="_blank" class="icon-twitter"></a></li>
        <li><a href="http://www" target="_blank" class="icon-instagram"></a></li>
        <li><a href="http://www" target="_blank" class="icon-play"></a></li>
        <li><a href="http://www" target="_blank" class="icon-android"></a></li>
        <li><a href="http://www" target="_blank" class="icon-appleinc"></a></li>
    </ul>
</div>

<i class="fas fa-ellipsis-v btn-menu"></i>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/static/js/script.js"></script>

<script>

    function getDatos(){
        alert('Autenticando');
        var username = $('#username').val();
        var password = $('#password').val();
        var message = JSON.stringify({
            "username": username,
            "password": password
        });
        $.ajax({
            url:'/authenticate',
            type:'POST',
            contentType: 'application/json',
            data : message,
            dataType:'json',
            success: function(response){

            },
            error: function(response){
                if (response['status']==400){
                    alert('Error en los datos, inténtalo nuevamente');
                    document.getElementById("inicial").style.display = "inline";
                    document.getElementById("administrador").style.display = "none";
                    document.getElementById("restaurantes").style.display = "none";
                    document.getElementById("usuario").style.display = "none";
                }
                else {
                    if (response['status']==303){
                        alert('Sesión iniciada como usuario');
                        document.getElementById("usuario").style.display = "inline";
                        document.getElementById("restaurantes").style.display = "none";
                        document.getElementById("administrador").style.display = "none";
                        document.getElementById("inicial").style.display = "none";
                    }
                    /*else if (response['status']==404) {
                        alert('Sesión iniciada como usuario');
                        document.getElementById("usuario").style.display = "inline";
                        document.getElementById("restaurantes").style.display = "none";
                        document.getElementById("administrador").style.display = "none";
                        document.getElementById("inicial").style.display = "none";
                    }*/
                    else {
                        alert('Sesión iniciada como dueño de restaurante');
                        document.getElementById("restaurantes").style.display = "inline";
                        document.getElementById("administrador").style.display = "none";
                        document.getElementById("inicial").style.display = "none";
                        document.getElementById("usuario").style.display = "none";
                    }
                    document.getElementById("barra_login").style.display = "none";
                    document.getElementById("soy_nuevo").style.display = "none";
                }
            }
        });
    }

</script>

</body>
</html>
