<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">

    <meta name="viewport" content="width=device-width, user-scalable=no,
    initial-scale=1.0, maximun-scale=1.0, minimum-scale=1.0">
  </head>
  <body class="bodyLogin">
    <div class="container-all">
      <div class="ctn-form">
        <h1 class="title">Registrate</h1>
        <form action="">
          <label class="labelLogin">Nombre</label>
          <input type="text" class="textLogin">
          <label class="labelLogin">Email</label>
          <input type="text" class="textLogin">
          <label class="labelLogin">Contraseña</label>
          <input type="password" class="ContraseñaLogin">
          <label class="labelLogin">Universidad</label>
          <input type="text" class="textLogin">

          <input type="submit" value="Comenzar">
        </form>
      </div>
    </div>

  </body>
</html>
