<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/static/images/icono.ico">
    <link rel="stylesheet" href="/static/css/place.css">
    <link rel="stylesheet" href="/static/css/icons/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>Restaurant</title>
</head>
<body onload="cargar_datos()">
    <div class="header">
        <div class="name"></div>
        <div class="options"></div>
    </div>
    <main>
        <section class="contenedor">
            <div class="first">
                <div class="image">
                    <div class="restaurant">
                        <h1></h1>
                    </div>
                </div>
                <div class="descp">
                    <p class="info">Slogan</p>
                    <p id="slogan">

                    </p>
                    <p class="subtitle">Rating</p>
                    <div class="rating">
                        <i class="icon icon-star-full"></i>
                        <i class="icon icon-star-full"></i>
                        <i class="icon icon-star-full"></i>
                        <i class="icon icon-star-empty"></i>
                        <i class="icon icon-star-empty"></i>
                    </div>
                    <div id="contact">
                        <p class="line"><i class="icon icon-phone"></i><span id="phone"></span></p>
                        <p class="line"><i class="icon icon-mail2"></i><span id="mail"></span></p>
                        <p class="line"><i class="icon icon-earth"></i><span id="adress"></span></p>
                        <p class="line"><i class="icon icon-users"></i> Capacidad <span id="mesas"></span> mesas</p>
                    </div>
                    <span class="linea"></span>                    
                </div>
            </div>
            <div class="second">
                <div class="descp">
                    <p class="info">Menú</p>
                    <p class="subtitle">Entradas</p>
                    <ul id="entradas">

                    </ul>
                    <p class="subtitle">Segundos</p>
                    <ul id="segundos">

                    </ul>
                    <span class="linea"></span>
                </div>
                <br>
            </div>
        </section>
    </main>
    <section class="baner">
            <p>Disfruta más con Netchmap</p>
        </section>
    <script src="/static/js/restaurant.js" ></script>
</body>
</html>