<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/static/images/icono.ico">
    <link rel="stylesheet" href="/static/css/place.css">
    <link rel="stylesheet" href="/static/css/icons/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>Restaurant</title>
</head>
<body onload="cargar_datos()">
    <div class="header">
        <div class="name"></div>
        <div class="options"></div>
    </div>
    <main>
        <section class="contenedor">
            <div class="first">
                <div class="image">
                    <div class="restaurant">
                        <h1></h1>
                    </div>
                </div>
                <div class="descp">
                    <p class="info">Slogan</p>
                    <p id="slogan">

                    </p>
                    <p class="subtitle">Rating</p>
                    <div class="rating">
                        <i class="icon icon-star-full"></i>
                        <i class="icon icon-star-full"></i>
                        <i class="icon icon-star-full"></i>
                        <i class="icon icon-star-empty"></i>
                        <i class="icon icon-star-empty"></i>
                    </div>
                    <div id="contact">
                        <p class="line"><i class="icon icon-phone"></i><span id="phone"></span></p>
                        <p class="line"><i class="icon icon-mail2"></i><span id="mail"></span></p>
                        <p class="line"><i class="icon icon-earth"></i><span id="adress"></span></p>
                        <p class="line"><i class="icon icon-users"></i> Capacidad <span id="mesas"></span> mesas</p>
                    </div>
                    <span class="linea"></span>                    
                </div>
            </div>
            <div class="second">
                <div class="descp">
                    <p class="info">Menú</p>
                    <p class="subtitle">Entradas</p>
                    <ul id="entradas">

                    </ul>
                    <p class="subtitle">Segundos</p>
                    <ul id="segundos">

                    </ul>
                    <span class="linea"></span>
                </div>
                <br>
            </div>
        </section>
    </main>
    <section class="baner">
            <p>Disfruta más con Netchmap</p>
        </section>
    <script>
        function cargar_datos() {
            get_restaurant();
            get_menu();
        }

        function get_menu() {
            $.ajax({
                url:'/menu',
                type:'GET',
                contentType: 'application/json',
                dataType:'json',
                success: function(response){
                    $.each(response,function (index,value) {
                        if (response[index]['tipo_plato'] === "segundo"){
                            $('#segundos').append('<li>'+value.name+'</li>');
                        } else if (response[index]['tipo_plato'] === "entrada"){
                            $('#entradas').append('<li>'+value.name+'</li>');
                        }
                    })
                },
                error: function(error){
                    alert(JSON.stringify(error));
                }
            });
        }

        function get_restaurant() {
            $.ajax({
                url:'/restaurant',
                type:'GET',
                contentType: 'application/json',
                dataType:'json',
                success: function(response){
                    //alert(response["name_restaurant"]);
                    $('h1').text(response["name_restaurant"]);
                    $('#slogan').text(response["slogan"]);
                    $('#phone').html(' Teléfono <a href="tel:+51'+response['phone']+'">+51 '+response['phone']+'</a>');
                    $('#mail').html(' Email <a href="mailto:'+response['username']+'">'+response['username']+'</a>')
                    $('#adress').html(' Dirección '+response['address']);
                    $('#mesas').text(response['num_mesas'])
                },
                error: function(error){
                    alert(error);
                }
            });
        }

    </script>

</body>
</html>