/* WARNING: CSS index */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
  
  .nav{
    float: left;
    width: 100%;
    background: #222;
    color: white;
    padding: 0 20px;
    transition: 0.3s ease all;
    backface-visibility: hidden;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }
  
  .theClient{
    display: flex;
    position: absolute;
    right: 0;
    color: white;
    top: 20px;
    list-style: none;
  }
  
  .line-input{
    margin-right: 30px;
    position: relative;
    outline: none;
  }
  
  .line-input:hover{
    border-bottom: 2px solid #fff;
  }
  
  .line-input input{
    outline: none;
  }
  
  .line-input label{
    position: relative;
    font-size: 17px;
    top: 3px;
    font-weight: bold;
  }
  
  .border-input{
    border-bottom: 2px solid #c44569;
  }
  
  /*INICIA: Boton 'Ingresar'*/
  .button{
    display: flex;
    position: relative;
    padding-left: 1.2rem;
    width: 100px;
    height: 30px;
    bottom: 3px;
    border-radius: 50px;
    outline: none;
    color: white;
    background: #c44569;
    border-style: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  .button:hover{
    opacity: .8;
  }
  /*INICIA: Boton 'Ingresar'*/
  
  .nav .wrap{
    position: relative;
    transition: 0.4s ease all;
  }
  
  nav{
    display: inline-block;
  }
  
  nav ul{
    margin: 0;
    padding: 0;
  }
  
  nav li{
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  
  nav a{
    display: block;
    padding: 20px;
    margin: 0;
    color: white;
    text-decoration: none;
    transition: 0.2s ease all;
    font-weight: bold;
  }
  
  nav a:hover{
    color: white;
    background: #c44569;
  }
  
  body{
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .header{
    height: 90vh;
    display: flex;
    align-items: center;
    color: #fff;
  }
  
  .content{
    max-width: 40rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
  }
  
  .header-video{
    position: absolute;
    top: 64px;
    left: 0px;
    width: 100%;
    height: 90vh;
    overflow: hidden;
  }
  
  .header-video video{
    min-width: 100%;
    min-height: 100%;
  }
  
  .header-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 64px;
    left: 0;
    background: #303952;
    z-index: 1;
    opacity: .85;
  }
  
  .header-content{
    z-index: 2;
  }
  
  .header-content h1{
    font-size: 70px;
    margin-bottom: 0;
    font-family: 'Lobster', cursive;
  }
  
  .header-content form{
    width: 630px;
    margin: 0 auto;
  }
  
  .header-content form fieldset{
    display: inline-block;
    background: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 3px #252525;
  }
  
  .header-content form fieldset input, button{
    position: relative;
    float: left;
    left: 48px;
    width: 400px;
    height: 50px;
    padding: 0;
  }
  
  .header-content form fieldset input{
    color: #666;
    border: none;
    z-index: 2;
  }
  
  .header-content form fieldset button{
    font-size: 15px;
    width: 50px;
    border: none;
    background: #333;
    transform: translate(-50px,0);
    transition-duration: .3s;
    outline: none;
  }
  
  .fa-search{
    color: #bbb;
    transform: translate(-400px,0);
    transition: all .1s ease-in-out;
  }
  
  .header-content form fieldset input:focus{
    outline: none;
  }
  
  .header-content form fieldset input:focus + button{
    transform: translate(0,0);
    transition-duration: .3s;
    -webkit-box-shadow: 5px 6px 3px #252525;
  }
  
  .header-content form fieldset input:focus + button:hover{
    cursor: pointer;
  }
  
  .header-content form fieldset input:focus + button .fa-search{
    color: #fff;
    transform: translate(0,0);
    transition-duration: .4s;
  }
  
  /*INICIA:  Boton 'Soy Nuevo'*/
  .btn{
    position: relative;
    background: #c44569;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    top: 30px;
    text-decoration: none;
    border-radius: 50px;
  }
  
  .btn:hover{
    opacity: .8;
  }
  /*TERMINA:  Boton 'Soy Nuevo'*/
  
  .social{
    position: fixed;
    left: 0;
    top: 230px;
    z-index: 2;
  }
  
  .social ul{
    list-style: none;
  }
  
  .social ul li a{
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .social ul li .icon-facebook{background:#3b5998;}
  .social ul li .icon-twitter{background:#00abf0;}
  .social ul li .icon-instagram{background:#A0522D;}
  .social ul li .icon-play{background:#ae181f;}
  .social ul li .icon-android{background:#32CD32;}
  .social ul li .icon-appleinc{background:#000000;}
  .social ul li .icon-mail2{background:#666666;}
  
  .social ul li a:hover{
    padding: 10px 30px;
  }
  
  .btn-menu{
    width: 60px;
    height: 60px;
    padding: 22px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #c44569;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: all 500ms cubic-bezier(1, 0, 0, 1);
    transform: translateX(100px);
    z-index: 2;
  }
  
  .btn-menu:hover{
    transform: scale(1.2);
    background: #a33453;
  }
  
  /* WARNING: CSS login */
  
  .bodyLogin{
    background: #222;
  }
  
  .container-all{
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 60px;
  }
  
  .ctn-form{
    width: 100%;
    padding: 40px;
    background: #f7f7f7;
    border-radius: 5px;
  }
  
  .title{
    text-align: center;
    font-weight: 300;
    color: #7a7a7a;
  }
  
  .labelLogin{
    display: block;
    margin-top: 30px;
    font-size: 20px;
    color: #7a7a7a;
  }
  
  .textLogin[type="text"],.ContraseñaLogin[type="password"]{
    width: 100%;
    height: 30px;
    background: rgba(0, 0, 0, 0);
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgba(0,0,0,0.30);
    font-size: 16px;
  }
  
  input[type="submit"]{
    width: 100%;
    height: 50px;
    margin-top: 60px;
    color: white;
    border: 0;
    background: #c44569;
    cursor: pointer;
    font-size: 15px;
    border-radius: 50px;
  }
  
  input[type="submit"]:hover{
    opacity: .9;
  }
  
  /* WARNING: Diseño Responsive */
  
  @media screen and (max-width: 980px){
    .content{
      padding: 0 3rem 0 3rem;
    }
  
    .btn-menu{
      transform: translate(0px);
    }
  
    .nav{
      width: 45%;
      position: fixed;
      top: 0px;
      height: 100vh;
      padding: 0px;
      z-index: 4;
      transform: translateX(-100%);
    }
  
    .nav .wrap{
      left: 0
    }
  
    nav{
      width: 100%;
      position: absolute;
      top: 60px;
    }
  
    nav li{
      width: 100%;
      margin: 0px;
      padding: 0px;
      display: flex;
    }
  
    nav a{
      width: 100%;
      position: relative;
      display: block;
      padding: 20px;
      top: 200px;
      margin: 0px;
      margin-left: 10px;
      font-size: 40px;
    }
  
    .theClient{
      z-index: 4;
      position: relative;
      left: 0;
      margin-left: -30px;
      display: block;
      transform: translateX(-100%);
    }
  
    .line-input{
      margin-top: 40px;
    }
  
    .line-input input{
      width: 300px;
      height: 25px;
    }
  
    .border-input{
      border-bottom: none;
    }
  
    .line-input:hover{
      border-bottom: none;
    }
  
    .line-input label{
      position: relative;
      margin-right: 10px;
      font-weight: bold;
    }
  
    .theClient button{
      margin-top: 40px;
      margin-left: 30px;
      width: 120px;
      height: 40px;
    }
  
    .nav-toggle{
      transition: all 300ms cubic-bezier(1, 0, 0, 1);
      transform: translateX(0%);
    }
  
    .header-video{
      position: fixed;
      top: 0;
      left: 0px;
      width: 100%;
      height: 100vh;
    }
  
    .header-overlay{
      top: 0;
      height: 100%;
      width: 100%;
    }
  
    .social{
      transform: translateX(-100%);
    }
  
    .header-content{
      position: relative;
      margin-left: -100px;
      margin-bottom: 80px;
    }
  }